header .menu-lateral .bienvenida-usuario h4, .contenedor-contenido .dashboard h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #666565; }

.contenedor-contenido .lista-tareas .tareas ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

header .menu-lateral ul li a, header .menu-lateral .bienvenida-usuario h5, header .menu-lateral .bienvenida-usuario p, .contenedor-contenido .dashboard .stast-dashboard h3, .contenedor-contenido .dashboard .stast-dashboard p, .contenedor-contenido .lista-ultimos-empleados h4, .contenedor-contenido .lista-ultimos-empleados .empleado, .contenedor-contenido .lista-tareas h4, .contenedor-contenido .lista-tareas .tareas ul li a span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.contenedor-contenido .dashboard .stast-dashboard h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header .menu-principal {
  width: calc(100% - 312px);
  height: 66px;
  background-color: #474747;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: flex-end; }
  header .menu-principal ul {
    text-align: right;
    display: flex;
    align-self: center;
    align-items: center; }
    header .menu-principal ul li {
      display: inline-block; }
      header .menu-principal ul li a {
        color: aliceblue;
        text-decoration: none;
        display: flex;
        align-items: center; }
        header .menu-principal ul li a .icon {
          width: 29px;
          height: 29px;
          background-color: #474747;
          border-radius: 100%;
          display: inline-flex;
          margin-right: 20px; }
          header .menu-principal ul li a .icon img {
            width: 70%;
            margin: 5px; }
  header .menu-principal .img-perfil {
    width: 44px;
    height: 44px;
    background: url("../img/adult-beach-beard-736716.jpg");
    border-radius: 100%;
    background-size: 100px;
    background-position: center; }
header .menu-lateral {
  width: 312px;
  height: 150vh;
  background-color: #EEEEEE;
  position: absolute; }
  header .menu-lateral ul {
    text-align: left;
    margin-top: 40px; }
    header .menu-lateral ul li a {
      color: #474747;
      text-decoration: none;
      font-size: 18px;
      display: flex;
      align-items: center;
      padding: 24px 40px; }
      header .menu-lateral ul li a .icon {
        width: 29px;
        height: 29px;
        background-color: #474747;
        border-radius: 100%;
        display: inline-flex;
        margin-right: 20px; }
        header .menu-lateral ul li a .icon img {
          width: 70%;
          margin: 5px; }
      header .menu-lateral ul li a:hover {
        background-color: #C5C5C5; }
  header .menu-lateral .bienvenida-usuario {
    padding: 40px;
    border-bottom: 1px solid #c5c5c545; }
    header .menu-lateral .bienvenida-usuario h5 {
      font-size: 18px;
      color: #666565;
      padding-bottom: 5px; }
    header .menu-lateral .bienvenida-usuario h4 {
      font-size: 24px;
      padding-bottom: 8px; }
    header .menu-lateral .bienvenida-usuario p {
      font-size: 12px;
      color: #999999; }

.contenedor-contenido {
  width: calc(100% - 312px);
  position: absolute;
  right: 0px;
  top: 66px;
  padding: 5%;
  box-sizing: border-box; }
  .contenedor-contenido .dashboard h2 {
    font-size: 48px; }
  .contenedor-contenido .dashboard .stast-dashboard {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: #ffff;
    display: inline-block;
    box-sizing: border-box;
    width: 22%;
    margin: 0 auto;
    margin: 100px 10px; }
    .contenedor-contenido .dashboard .stast-dashboard h3, .contenedor-contenido .dashboard .stast-dashboard p {
      font-size: 14px;
      text-align: center;
      color: #666565 !important;
      padding: 20px 0px; }
    .contenedor-contenido .dashboard .stast-dashboard h5 {
      font-size: 64px;
      text-align: center;
      color: #474747 !important; }
  .contenedor-contenido .lista-ultimos-empleados {
    display: inline-flex;
    flex-direction: column;
    width: 69%; }
    .contenedor-contenido .lista-ultimos-empleados h4 {
      font-size: 18px;
      color: #474747;
      margin-bottom: 40px; }
    .contenedor-contenido .lista-ultimos-empleados .empleado {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #c5c5c545;
      padding: 12px;
      color: #474747;
      align-items: center; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .ocupacion, .contenedor-contenido .lista-ultimos-empleados .empleado .fecha-creacion {
        width: 100px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .nombre {
        width: 120px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .imagen-perfil-recorte-1 {
        background: url("../img/rawpixel-675358-unsplash.jpg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-position: top;
        background-size: 100px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .imagen-perfil-recorte-2 {
        background: url("../img/brooke-cagle-193476-unsplash.jpg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-position: top;
        background-size: 100px;
        background-position: center;
        background-size: 150px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .imagen-perfil-recorte-3 {
        background: url("../img/maria-fernanda-gonzalez-569256-unsplash.jpg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-position: top;
        background-size: 100px;
        background-position: center;
        background-size: 50px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .imagen-perfil-recorte-4 {
        background: url("../img/wade-austin-ellis-703508-unsplash.jpg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-position: top;
        background-size: 100px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .imagen-perfil-recorte-5 {
        background: url("../img/foto-sushi-128246-unsplash.jpg");
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-position: top;
        background-size: 100px;
        background-position: bottom;
        background-size: 80px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .titulo {
        font-size: 10px;
        padding-bottom: 5px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .nombre p {
        padding-top: 5px; }
      .contenedor-contenido .lista-ultimos-empleados .empleado .detalles {
        position: relative;
        text-align: right; }
        .contenedor-contenido .lista-ultimos-empleados .empleado .detalles img {
          width: 20px; }
        .contenedor-contenido .lista-ultimos-empleados .empleado .detalles ul {
          background-color: #ffff;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 164px;
          padding: 24px 0px;
          height: 110px;
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2); }
          .contenedor-contenido .lista-ultimos-empleados .empleado .detalles ul li {
            padding: 12px 24px;
            text-align: left; }
            .contenedor-contenido .lista-ultimos-empleados .empleado .detalles ul li:hover {
              background-color: #EEEEEE; }
        .contenedor-contenido .lista-ultimos-empleados .empleado .detalles .menu {
          display: none; }
        .contenedor-contenido .lista-ultimos-empleados .empleado .detalles .open .menu {
          display: block;
          z-index: 9999; }
  .contenedor-contenido .lista-tareas {
    width: 27%;
    margin-left: 24px;
    display: inline-flex;
    flex-direction: column;
    height: 420px;
    background-color: #ffff;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2); }
    .contenedor-contenido .lista-tareas h4 {
      font-size: 18px;
      padding: 30px; }
    .contenedor-contenido .lista-tareas .tareas {
      display: flex;
      align-items: center; }
      .contenedor-contenido .lista-tareas .tareas .icon {
        width: 29px;
        height: 29px;
        background-color: #474747;
        border-radius: 100%;
        display: inline-flex;
        margin-right: 20px; }
        .contenedor-contenido .lista-tareas .tareas .icon img {
          width: 70%;
          margin: 5px; }
      .contenedor-contenido .lista-tareas .tareas ul {
        width: 100%; }
        .contenedor-contenido .lista-tareas .tareas ul li {
          padding: 20px 30px;
          border-bottom: 1px solid #c5c5c545; }
          .contenedor-contenido .lista-tareas .tareas ul li:hover {
            background-color: #EEEEEE; }
          .contenedor-contenido .lista-tareas .tareas ul li a {
            font-size: 12px;
            text-decoration: none;
            color: #474747;
            display: flex;
            align-items: center; }
            .contenedor-contenido .lista-tareas .tareas ul li a p {
              display: inline-flex;
              margin-top: -10px; }
            .contenedor-contenido .lista-tareas .tareas ul li a span {
              position: absolute;
              margin-top: 10px;
              margin-left: 50px; }

.contenedor-menu-hamburguesa {
  display: none;
  padding: 12px 12px 4px 12px; }
  .contenedor-menu-hamburguesa .burger-menu {
    position: relative;
    width: 32px;
    height: 50px;
    cursor: pointer; }
  .contenedor-menu-hamburguesa .burger {
    position: absolute;
    background: #ffff;
    width: 100%;
    height: 3px;
    top: 50%;
    right: 0px;
    margin-top: -5px;
    opacity: 1;
    z-index: 9999999; }
  .contenedor-menu-hamburguesa .burger::before {
    position: absolute;
    background: #ffff;
    width: 32px;
    height: 3px;
    top: 13px;
    content: "";
    display: block; }
  .contenedor-menu-hamburguesa .burger::after {
    position: absolute;
    background: #ffff;
    width: 32px;
    height: 3px;
    bottom: 13px;
    content: "";
    display: block; }
  .contenedor-menu-hamburguesa .burger::after, .contenedor-menu-hamburguesa .burger::before, .contenedor-menu-hamburguesa .burger {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
  .contenedor-menu-hamburguesa .burger-menu.menu-on .burger::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 0px;
    left: 250px;
    background: #999999; }
  .contenedor-menu-hamburguesa .burger-menu.menu-on .burger::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 0px;
    left: 250px;
    background: #999999; }
  .contenedor-menu-hamburguesa .burger-menu.menu-on .burger {
    background: rgba(111, 111, 111, 0); }

@media (max-width: 1200px) {
  .menu-lateral {
    display: none;
    top: 0px; }

  .contenedor-contenido, .menu-principal {
    width: 100% !important; }

  .open-menu-lateral {
    display: block;
    z-index: 1; }

  .contenedor-menu-hamburguesa {
    display: block; } }
@media (max-width: 1200px) and (max-width: 980px) {
  .lista-tareas, .lista-ultimos-empleados {
    width: 100% !important;
    margin-left: 0px !important;
    display: block !important; }

  .lista-tareas {
    height: auto !important;
    margin-top: 40px; }
    .lista-tareas ul li {
      display: inline-block;
      width: 41%;
      box-sizing: border-box; } }
@media (max-width: 1200px) and (max-width: 980px) and (max-width: 855px) {
  .lista-ultimos-empleados {
    margin-top: 40px; }

  .dashboard h2 {
    padding-bottom: 30px; }
  .dashboard .stast-dashboard {
    width: 45% !important;
    margin: 0 auto !important;
    margin: 10px !important;
    box-sizing: border-box; } }
@media (max-width: 1200px) and (max-width: 980px) and (max-width: 855px) and (max-width: 700px) {
  .lista-ultimos-empleados .fecha-creacion, .lista-ultimos-empleados .ocupacion {
    display: none; }
  .lista-ultimos-empleados .nombre {
    position: absolute;
    left: 120px; } }
@media (max-width: 1200px) and (max-width: 980px) and (max-width: 855px) and (max-width: 700px) and (max-width: 500px) {
  .menu-lateral {
    width: 250px !important; }

  .lista-tareas ul li {
    display: block;
    width: 100%; }

  .dashboard .stast-dashboard {
    padding: 12px !important;
    width: 100% !important;
    margin: 10px 0px !important; }

  .burger-menu.menu-on .burger::after, .burger-menu.menu-on .burger::before {
    left: 180px !important; } }

/*# sourceMappingURL=style.css.map */
